.body{
    background-image:url(mockup.avif);
    background-repeat:no-repeat;
    background-position:top left;
    background-attachment: fixed;
    background-size:100% 100%;
    background-attachment:fixed;
    
}
.nav{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    Display:flex;
    margin-left:800px;
    justify-content:space-evenly;
}
.row .portfolio-items1{
    display:flex;
    margin-left:800px;
    justify-content:space-evenly;
}
.portfolio-sec{
    align-items:center
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width:25%;
    background-color:green;
    position:fixed;
    height:100%;
    overflow:auto;
}
.portfolioimages{
    height:100px;
    width:100px;
}
     


